* {
    box-sizing: border-box;
}

body {
    background-color: #2C3E50;
    font-family: 'Muli', sans-serif;
    color: #ECF0F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
    margin: 0;
}

h2 {
    margin: 10px 0px 20px;
    text-align: center;
    color: #3498DB;
}

.divcontainer {
    background-color: #34495E;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 350px;
    max-width: 100%;
    border-radius: 8px;
}

.result-container {
    background-color: rgba(44, 62, 80, 0.8);
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
    border-radius: 4px;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
    color: #ECF0F1;
}

.result-container .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: #E74C3C;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.result-container .btn:hover {
    background-color: #C0392B;
}

.btn {
    border: none;
    background-color: #3498DB;
    color: #fff;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2980B9;
}

.btn-large {
    display: block;
    width: 100%;
    background-color: #1ABC9C;
}

.btn-large:hover {
    background-color: #16A085;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    color: #BDC3C7;
}
/* Footer Styles */
.footer {
    background-color: #34495E;
    color: #BDC3C7;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer p {
    margin: 0;
}

.footer p span {
    color: #3498DB;
}
